/* Content area */
main {
  grid-column: 2;
  margin: 25px;
  padding-left: 20px;
  min-height: 200vh;
  border-left: 1px solid gray;
}

.main-section {
  padding: 20px;
  border-bottom: 1px solid #444; /* Linia oddzielająca sekcje */
}

.section-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  main {
    width: 100%;
    margin: 0px;
    padding-left: 0;
    border-left: none;
    padding-right: 25px;
  }
}