/* Content area */
main {
  grid-column: 2;
  padding: 25px;
  min-height: 200vh;
}


/* Section styles */
section {
  height: 100%;
  background-color: black;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }
  
}