/* Sidebar styles */
nav {
  grid-column: 1;
  position: sticky;
  height: 100vh; /*or fit-content*/
  top: 0;
  z-index: 1;
  left: 0;
  margin-right: 20px;
}

.about-me {
    padding: 20px;
}

/* Sidebar navigation links */
.contact-info {
  margin-top: 20px;
  padding: 0;
}

a {
  display: block;
  background-color: inherit;
  padding: 10px 0 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}


@media (max-width: 600px) {
  nav {
    position: relative;
    height: fit-content;
    margin-bottom: 30px;
    border-right: none;
  }
}