.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--border);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.skill-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: background var(--transition);
  background-color: var(--bg-card);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border);
}

.skill-card:hover {
    background-color: var(--bg-card-hover);
    /*box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;*/
    transition: background-color 1s ease;
}

.skill-card-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.4rem;
  border-bottom: 0.1em solid var(--border);
}
 
.skill-subtitle {
  font-family: var(--font-mono);
  font-size: 0.8rem;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.75;
}


@media (max-width: 1300px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}