.timeline-view {
  position: relative;
  padding-left: 2rem; 
  padding-bottom: 2.5rem;
}

.timeline-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e2e8f0;
}

.timeline-view:last-child .timeline-line {
  display: none;
}

.timeline-dot {
  position: absolute;
  left: -5px;
  top: 0.5rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3b82f6; 
  border: 2px solid white;
}

.timeline-date {
  font-size: 0.875rem;
  color: #64748b;
}

.timeline-title {
  margin: 0.25rem 0;
  font-size: 1.25rem;
  padding-bottom: 0.4rem;;
}

.item-title {
    padding-bottom: 0.2rem;
}

.timeline-organization {
    font-family: var(--font-mono);
    font-weight: 0.8rem;
    font-size: 0.8rem;
    color: var(--accent);
    padding-bottom: 0.2rem;
}

.timeline-description {
    font-family: var(--font-sans);
    font-weight: 0.8rem;
    font-size: 0.9rem;
}