
.App {
  min-height: 100vh;
  position: relative;

  background-color: #333;
  color: white;
  font-family: Datatype Mono, monospace;
}

.Layout {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: start;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 2rem;
  z-index: 1000;

  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid gray;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  border-top: 1px solid gray;
}

@media (max-width:900px) {
  .Layout {
    grid-template-columns: 35% 65%;
  }
}

@media (max-width: 600px) {
  .Layout {
    display: flex;
    flex-direction: column;
  }
}
